@media (max-width: 1200px)
	header
		nav
			.menu
				.menu_item
					padding-right: 20px
					.menu_link
						font-size: 13px
	.promo
		&_header
			font-size: 50px

	.reason
		&_item
			&_descr
				width: 301px
    			line-height: 21px
	
	.mobile
		&_item
			width: 300px
			&_header
				font-size: 21px
	footer
		.apps			
			a
				margin-right: 1px
		.social			
			&_link
				margin-left: 4px
		.list_links
			padding: 0
			li
				a
					font-size: 18px
		.list_sublinks
			padding: 0
			li
				a
					font-size: 11px

@media (max-width: 991px)
	header
		nav
			.menu
				.menu_item
					padding-right: 7px
					.menu_link
						font-size: 11px
		.subheader
			&_text
				font-size: 11px
			&_ask
				font-size: 10px
			&_phone
				font-size: 19px

	.promo
		&_header
			font-size: 40px
			
	.reason
		&_item
			flex-direction: column
			align-items: center
			&_descr
				margin-top: 30px
				width: 211px
    			line-height: 21px

	.car
		&_img
			width: 759px
			height: 480px
	
	footer
		.apps			
			justify-content: space-around
			margin-top: 20px
		.social			
			justify-content: space-around
			margin-top: 20px
		.list_links
			padding: 0
			li
				a
					font-size: 22px
		.list_sublinks
			padding: 0
			li
				a
					font-size: 14px